:root {
  --primary-text-color: #212121;
  --logo-color-black: #000000;
  --base-color: #757575;
  --title-text-color: #ffffff;
  --accent-color: #2196f3;
  --accent-button-color: #188ce8;
  --accent-buttons-color: #f5f4fa;
  --background-footer-color: #2f303a;
  --link-footer-color: rgba(255, 255, 255, 0.6);
  --boreder-color-ee: #eeeeee;
  --boreder-color-ec: #ececec;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

.portfolio, .customers, .command, .works, .advantage {
  padding-top: 60px;
  padding-bottom: 60px;
  /* outline: 2px solid seagreen; */
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.container {
  max-width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding-left: 0;
}

.list {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
  height: auto;
}

body {
  font-family: Roboto, sans-serif;
  font-size: 16px;
  line-height: 1.2;
  color: var(--primary-text-color);
  letter-spacing: 0.03em;
}

.section__title {
  font-size: 28px;
  line-height: 1.17;
  text-align: center;
}

.section__title {
  padding-bottom: 30px;
}

.logo {
  text-decoration: none;
  color: var(--logo-color-black);
  font-family: Raleway, sans-serif;
  font-weight: bold;
  min-width: 145px;
  font-size: 24px;
}
@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
  }
}

.logo__end {
  color: var(--accent-color);
}

.button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  background-color: var(--accent-button-color);
  color: var(--title-text-color);
  cursor: pointer;
  font-weight: 700;
  line-height: 1.88;
  letter-spacing: 0.06em;
  border-radius: 4px;
  border-color: transparent;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header {
  border-bottom: 1px solid var(--boreder-color-ec);
}

.header-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  height: 60px;
}
@media screen and (min-width: 768px) {
  .header-container {
    height: 80px;
  }
}
@media screen and (min-width: 1200px) {
  .header-container {
    height: 80px;
  }
}

.menu-open-btn,
.menu-close-btn {
  background-color: transparent;
  border: none;
  margin-left: auto;
  display: block;
}
@media screen and (min-width: 768px) {
  .menu-open-btn,
.menu-close-btn {
    display: none;
  }
}

.menu-close-btn {
  position: fixed;
  top: 10px;
  right: 15px;
}

.close-icon {
  fill: #212121;
}

.open-icon {
  fill: #212121;
}

.mob-menu {
  position: fixed;
  z-index: 20;
  top: 0;
  background-color: #ffffff;
  width: 100vh;
  height: 100vh;
  padding: 48px 40px;
}
.mob-menu .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  overflow: auto;
}

.mob-menu-list__item:not(:last-child),
.mob-connect__item:not(:last-child) {
  margin-bottom: 32px;
}

.mob-menu-list__link {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.175;
  letter-spacing: 0.02em;
  text-align: center;
  color: #212121;
  text-decoration: none;
}

.mob-connect__item {
  margin-bottom: 64px;
}

.mob-connect__link {
  font-weight: 500;
  font-size: 34px;
  line-height: 1.176;
  letter-spacing: 0.02em;
  color: #2196f3;
  text-decoration: none;
}
@media screen and (max-width: 479px) {
  .mob-connect__link {
    font-size: 9vw;
  }
}

.connect-mail {
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.02em;
  color: #757575;
}

.mob-soc-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.mob-soc-list__item:not(:last-child)::after {
  content: "";
  border: 1px solid rgba(33, 33, 33, 0.2);
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  margin-right: 10px;
  margin-left: 10px;
}

.mob-soc-list__link {
  text-decoration: none;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: #2196f3;
}

.nav-bt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-bt__logo {
  padding-top: 16px;
  padding-bottom: 16px;
}
@media screen and (min-width: 768px) {
  .nav-bt__logo {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

.nav-bt__list {
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (min-width: 768px) {
  .nav-bt__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 88px;
  }
}
@media screen and (min-width: 1200px) {
  .nav-bt__list {
    margin-left: 93px;
  }
}

.nav-bt__item + .nav-bt__item {
  margin-left: 50px;
}

.nav-bt__link {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  padding-top: 32px;
  padding-bottom: 32px;
}
.nav-bt__link:hover, .nav-bt__link:focus {
  color: var(--accent-color);
}
.nav-bt__item .nav-bt__link {
  position: relative;
}
@media screen and (min-width: 1200px) {
  .nav-bt__link {
    padding-top: 32px;
    padding-bottom: 32px;
    font-size: 14px;
  }
}

.nav-bt__link--current::after {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-color);
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: color transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-bt__link--current:hover::after {
  -webkit-transform: scale(1);
          transform: scale(1);
  /* overflow: hidden; */
}

.nav-bt__link {
  text-decoration: none;
  color: var(--primary-text-color);
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-bt__link--current {
  color: var(--accent-color);
}

.connect {
  display: none;
}
@media screen and (min-width: 768px) {
  .connect {
    display: block;
    margin-left: 84px;
  }
}
@media screen and (min-width: 1200px) {
  .connect {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: auto;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-left: 0;
  }
}

@media screen and (min-width: 1200px) {
  .connect__item + .connect__item {
    margin-left: 30px;
  }
}

@media screen and (min-width: 768px) {
  .connect__item.mail {
    margin-bottom: 10px;
  }
}
@media screen and (min-width: 1200px) {
  .connect__item.mail {
    margin-bottom: 0px;
  }
}

.connect__link {
  color: var(--base-color);
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (min-width: 768px) {
  .connect__link {
    padding-top: 0;
    padding-bottom: 0;
  }
}

.connect__mail {
  width: 16px;
  height: 12px;
  margin-right: 10px;
  fill: var(--base-color);
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.connect__link:hover .connect__mail, .connect__link:focus .connect__mail {
  fill: var(--accent-button-color);
}

.connect__tel {
  width: 10px;
  height: 16px;
  margin-right: 10px;
  fill: var(--base-color);
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.connect__link:hover .connect__tel, .connect__link:focus .connect__tel {
  fill: var(--accent-button-color);
}

.hero {
  margin-left: auto;
  margin-right: auto;
  background-color: var(--background-footer-color);
  color: var(--title-text-color);
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /* outline: 1px solid tomato; */
  max-width: 480px;
  min-height: 400px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(/image8/header.jpg);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(/image8/header.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(/image8/header2x.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(/image8/header2x.jpg);
  }
}
@media screen and (min-width: 768px) {
  .hero {
    max-width: 768px;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(/image8/Headertablet\ img.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(/image8/Headertablet\ img.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(/image8/Headertablet\ img2x.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(/image8/Headertablet\ img2x.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    max-width: 1600px;
    height: 600px;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/heroi.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/heroi.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(/image8/HeaderDesktop\ img2x.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(/image8/HeaderDesktop\ img2x.jpg);
  }
}

.hero__title {
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.hero__button {
  margin-right: auto;
  margin-left: auto;
  padding: 10px 32px;
}
.hero__button:hover, .hero__button:focus {
  background-color: var(--accent-color);
}

.hero__container {
  padding-left: 0;
  padding-right: 0;
  padding: 118px 60px;
}

.advantage__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.advantage__item {
  max-width: 450px;
  margin-bottom: 30px;
}
@media screen and (min-width: 768px) {
  .advantage__item {
    max-width: 354px;
    margin-left: 15px;
  }
}
@media screen and (min-width: 1200px) {
  .advantage__item {
    width: 270px;
  }
  .advantage__item + .advantage__item {
    margin-left: 15px;
  }
}

.advantage__title {
  padding-bottom: 10px;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.advantage__wrap {
  height: 120px;
  background-color: var(--accent-buttons-color);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
}

.advantage__icon {
  width: 70px;
  height: 70px;
}

.advantage__text {
  color: var(--base-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
}

.works {
  padding-top: 0;
  display: none;
}

.works__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.works__item {
  position: relative;
}
.works__item:not(:first-child) {
  margin-left: 30px;
}

.works__link {
  display: block;
}

.works__img {
  max-width: 100%;
  display: block;
}

.works__title {
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  position: absolute;
  width: 100%;
  height: 70px;
  color: #ffffff;
  bottom: 0;
  opacity: 1;
  background: rgba(47, 48, 58, 0.8);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.command {
  background-color: var(--accent-buttons-color);
}

.command__item {
  background: var(--title-text-color);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

@media screen and (min-width: 768px) {
  .command__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.command__item {
  background-color: var(--title-text-color);
  margin-bottom: 30px;
}
@media screen and (min-width: 768px) {
  .command__item {
    width: 354px;
  }
  .command__item:nth-child(2n+2) {
    margin-left: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .command__item {
    width: 270px;
  }
  .command__item:not(:first-child) {
    margin-left: 30px;
  }
}

.command__title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.89;
  text-align: center;
  margin-bottom: 10px;
}

.command__text {
  color: var(--base-color);
  text-align: center;
  margin-bottom: 16px;
}

.command__wrap {
  padding-top: 30px;
  padding-bottom: 24px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.soclink__list + .soclink__list {
  margin-left: 10px;
}

.soclink__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  fill: #afb1b8;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.soclink__icon--color {
  fill: var(--title-text-color);
}

.soclink__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.soclink__link {
  width: 44px;
  height: 44px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50px;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.soclink__link--color {
  background-color: rgba(255, 255, 255, 0.1);
}

.soclink__link:hover,
.soclink__link:focus {
  background-color: var(--accent-color);
}

.soclink__link:hover .soclink__icon,
.soclink__link:focus .soclink__icon {
  fill: var(--title-text-color);
}

.soclink {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.customers__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
}

.customers__item {
  -ms-flex-preferred-size: calc(50% - 15px);
      flex-basis: calc(50% - 15px);
}
@media screen and (min-width: 768px) {
  .customers__item {
    -ms-flex-preferred-size: calc(33.3333333333% - 20px);
        flex-basis: calc(33.3333333333% - 20px);
  }
}
@media screen and (min-width: 1200px) {
  .customers__item {
    -ms-flex-preferred-size: auto;
        flex-basis: auto;
  }
}

.customers__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 210px;
  border: 1px solid #afb1b8;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  color: var(--accent-color);
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.customers__link:hover, .customers__link:focus {
  border: 1px solid var(--accent-color);
}
@media screen and (min-width: 768px) {
  .customers__link {
    max-width: 226px;
  }
}
@media screen and (min-width: 1200px) {
  .customers__link {
    width: 170px;
  }
}

.customers__icon {
  display: block;
  fill: #afb1b8;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.customers__link:hover .customers__icon, .customers__link:focus .customers__icon {
  fill: currentColor;
}

footer {
  background-color: var(--background-footer-color);
  padding-top: 60px;
  padding-bottom: 60px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 768px) {
  .footer-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.footer-left {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  display: block;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  margin-bottom: 60px;
}
@media screen and (min-width: 768px) {
  .footer-left {
    margin-right: 165px;
  }
}
@media screen and (min-width: 1200px) {
  .footer-left {
    margin-right: 0;
    margin-left: 0;
    text-align: left;
  }
}

.footer-left__logo {
  color: var(--title-text-color);
}

.footer-left__adress a {
  display: inline-block;
}

.footer-left__link {
  color: var(--title-text-color);
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  text-decoration: none;
  margin-top: 20px;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-left__link:focus, .footer-left__link:hover {
  color: var(--accent-color);
}

.footer-left__link--color {
  color: var(--link-footer-color);
  margin-top: 8px;
}
@media screen and (min-width: 1200px) {
  .footer-left__link--color {
    margin-top: 9px;
  }
}

.footer-socseti {
  margin-bottom: 60px;
}
@media screen and (min-width: 768px) {
  .footer-socseti {
    margin-right: 89px;
  }
}
@media screen and (min-width: 1200px) {
  .footer-socseti {
    margin-left: 70px;
    margin-right: 0;
  }
}

.footer-socseti__title {
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--title-text-color);
  margin-top: 12px;
  margin-bottom: 20px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .subscribe {
    margin-left: 166px;
  }
}
@media screen and (min-width: 1200px) {
  .subscribe {
    margin-left: 93px;
  }
}

.subscribe__wrap {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (min-width: 1200px) {
  .subscribe__wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.subscribe__email {
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  width: 100%;
  padding: 15px 0 15px 16px;
  margin-bottom: 20px;
  outline: transparent;
  color: rgba(255, 255, 255, 0.6);
}
@media screen and (min-width: 768px) {
  .subscribe__email {
    width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .subscribe__email {
    width: 358px;
    margin-right: 12px;
    margin-bottom: 0;
  }
}

.subscribe__email:focus {
  border: 1px solid var(--title-text-color);
}

.subscribe__button {
  padding: 10px 29px;
  margin-right: auto;
  margin-left: auto;
}

.subscribe__button:hover,
.subscribe__button:focus {
  background-color: var(--accent-color);
}

.subscribe__title {
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--title-text-color);
  margin-top: 12px;
  margin-bottom: 20px;
  text-align: center;
}

.subscribe__icon {
  margin-left: 10px;
}

.beckdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  background: rgba(0, 0, 0, 0.2);
  -webkit-transition: opacity 900ms, visibility 300ms;
  transition: opacity 900ms, visibility 300ms;
  overflow-y: scroll;
}
@media screen and (min-width: 480px) {
  .beckdrop {
    width: 480px;
  }
}

.modal {
  position: fixed;
  top: 5%;
  left: 50%;
  -webkit-transform: rotate(360deg) translate(-50%) scale(1);
          transform: rotate(360deg) translate(-50%) scale(1);
  width: 95vw;
  min-height: 581px;
  background-color: var(--title-text-color);
  border-radius: 4px;
  -webkit-transition: -webkit-transform 300ms;
  transition: -webkit-transform 300ms;
  transition: transform 300ms;
  transition: transform 300ms, -webkit-transform 300ms;
}
.beckdrop.is-hidden .modal {
  -webkit-transform: rotate(0deg) translate(-50%, -50%) scale(0.1);
          transform: rotate(0deg) translate(-50%, -50%) scale(0.1);
  opacity: 1;
}
@media screen and (min-width: 480px) {
  .modal {
    width: 450px;
  }
}
@media screen and (min-width: 480px) and (min-width: 1200px) {
  .modal {
    width: 528px;
  }
}

.modal__close {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: white;
}
.modal__close:hover, .modal__close:focus {
  fill: #2196f3;
}

.modal__title {
  padding-top: 40px;
  padding-bottom: 12px;
  padding-right: 40px;
  padding-left: 40px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.modal__form {
  margin-bottom: 20px;
  margin-left: 40px;
  margin-right: 40px;
}

.modal__label {
  display: block;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.66;
  letter-spacing: 0.01em;
  color: #757575;
}

.modal__input {
  width: 100%;
  height: 40px;
  padding: 0;
  padding-left: 42px;
  outline: transparent;
}

.modal__input,
.modal__text {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__icon {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 12px;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__field {
  display: block;
  margin-bottom: 10px;
}

.modal__wrap {
  position: relative;
}

.modal__input:focus + .modal__icon {
  fill: var(--accent-color);
}

.modal__text {
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  resize: none;
  outline: transparent;
}

.modal__input:focus,
.modal__text:focus {
  border: 1px solid #2196f3;
}

/* -------------modal-checkbox--------------------- */
.modal__checkbox {
  margin-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.modal__checkbox-label {
  font-size: 12px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.modal__checkbox-label span {
  /* 
    margin-left: 0; */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  fill: #fff;
  width: 16px;
  height: 15px;
  padding: 4px 2px 3px 3px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 2px solid #212121;
  border-radius: 2px;
  margin-right: 7px;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__checkbox-input:focus + .modal__checkbox-label span {
  border: 2px solid var(--base-color);
}

.modal__checkbox-input:checked + .modal__checkbox-label span {
  background-color: var(--accent-color);
  border: none;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

/* -----------------------------modal__button-------------- */
.modal__button {
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 700;
  /* font-size: 16px; */
  line-height: 1.88;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  padding-top: 10px;
  padding-right: 55px;
  padding-bottom: 10px;
  padding-left: 56px;
  margin: auto;
  margin-bottom: 40px;
  background: #2196f3;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: transparent;
  border-radius: 4px;
}

.modal__button:hover,
.modal__button:focus {
  background: #188ce8;
  cursor: pointer;
}

.modal__checkbox-link {
  color: var(--accent-color);
}

.modal__checkbox-link:hover {
  text-decoration: none;
}

.portfolio__button {
  cursor: pointer;
  background-color: var(--accent-buttons-color);
  font-family: inherit;
  font-weight: 500;
  border: none;
  line-height: 1.62;
  border-radius: 4px;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio__filtr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media screen and (min-width: 768px) {
  .portfolio__filtr {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.portfolio__button {
  padding: 6px 22px;
}
.portfolio__button:hover, .portfolio__button:focus {
  background-color: var(--accent-color);
  color: var(--title-text-color);
  background: var(--accent-color);
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.portfolio__list + .portfolio__list {
  margin-left: 8px;
}

.portfolio__list {
  margin-bottom: 15px;
}
.portfolio__list:first-child {
  margin-left: 8px;
}

.projects__list {
  margin-top: -30px;
  margin-left: -30px;
  padding-top: 40px;
}
@media screen and (min-width: 768px) {
  .projects__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-top: -30px;
    padding-top: 50px;
  }
}

@media screen and (min-width: 768px) {
  .projects__item {
    -ms-flex-preferred-size: calc(50% - 30px);
        flex-basis: calc(50% - 30px);
    margin-left: 30px;
    margin-top: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .projects__item {
    -ms-flex-preferred-size: calc(33.3333333333% - 30px);
        flex-basis: calc(33.3333333333% - 30px);
  }
}

.projects__content {
  padding: 20px 24px;
  border-right: 1px solid var(--boreder-color-ee);
  border-bottom: 1px solid var(--boreder-color-ee);
  border-left: 1px solid var(--boreder-color-ee);
}

.projects__title {
  margin-bottom: 4px;
  color: var(--primary-text-color);
}

.projects__link {
  display: block;
  text-decoration: none;
  -webkit-transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.projects__link:hover, .projects__link:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.projects__wrap {
  position: relative;
  overflow: hidden;
}

.projects__info {
  position: absolute;
  font-size: 18px;
  line-height: 1.56;
  padding-left: 24px;
  padding-right: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 0.03em;
  color: #ffffff;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background: rgba(33, 150, 243, 0.9);
}
.projects__item:hover .projects__info, .projects__item:focus .projects__info {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}
@media screen and (max-width: 370px) {
  .projects__info {
    font-size: 5vw;
  }
}

.projects__title {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.projects__description {
  line-height: 1.88;
  color: var(--base-color);
}/*# sourceMappingURL=main.css.map */