.advantage
{@extend %section; 

  
    }

.advantage__list {
    display: flex;
    flex-wrap: wrap;
  }

  
  .advantage__item {
    // width: 270px;
     max-width: 450px;
    // & + & {
    //     margin-left: 15px;
    // }

margin-bottom: 30px;


  }
  
  
  
.advantage__title {
    padding-bottom: 10px;

    @include section-title ();


        display: flex;
    justify-content: center;
  }

  .advantage__wrap {
    height: 120px;
    background-color: var(--accent-buttons-color);
  
    // display: flex;
    // align-items: center;
    // justify-content: center;

    @include flexCenter ();

    margin-bottom: 30px;
  }
  
  .advantage__icon {
    width: 70px;
    height: 70px;
  }

  
  .advantage__text {
    color: var(--base-color);
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
  }