.beckdrop {

    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    background: rgba(0, 0, 0, 0.2);
  
    transition: opacity 900ms, visibility 300ms;

    overflow-y: scroll;
    
     
  }