.customers {
  @extend %section;
}

// .customers__container{

// }

.customers__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.customers__item {
  flex-basis: calc(100% / 2 - 15px);

  // .customers__item + .customers__item {
  //   margin-left: 30px;
  // }

  @media screen and (min-width: 768px) {
    flex-basis: calc(100% / 3 - 20px);
  }

  @media screen and (min-width: 1200px) {
    flex-basis: auto;
  }
}

.customers__link {
  display: flex;
  justify-content: center;
  align-items: center;

  // width: 170px;
  max-width: 210px;
  height: 92px;

  border: 1px solid #afb1b8;
  box-sizing: border-box;
  border-radius: 4px;

  color: var(--accent-color);

  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    border: 1px solid var(--accent-color);
  }
  @media screen and (min-width: 768px) {
    max-width: 226px;
    height: 92px;
  }
  @media screen and (min-width: 1200px) {
    width: 170px;
  }
}

.customers__icon {
  display: block;
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .customers__link:hover &,
  .customers__link:focus & {
    fill: currentColor;
  }
}
