.customers {
  @extend %section;
}

.customers__list {
  display: flex;
  flex-wrap: wrap;
  flex-basis: calc(100% / 2 - 60px);
    gap: 30px ;
// column-count: 2; 

  //      display: grid;
  // grid-template-columns: 1fr 1fr;
  // grid-auto-rows: 100px;
  // grid-gap: 1rem;
}

// .customers__item + .customers__item {
//   margin-left: 30px;
// }


.customers__link {
  display: flex;
  justify-content: center;
  align-items: center;

  // width: 170px;
  width: 210px;
  height: 92px;

  border: 1px solid #afb1b8;
  box-sizing: border-box;
  border-radius: 4px;

  color: var(--accent-color);

  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    border: 1px solid var(--accent-color);
  }
}

.customers__icon {
  display: block;
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .customers__link:hover &,
  .customers__link:focus & {
    fill: currentColor;
  }
}
