
  .footer-socseti {
  //    margin-left: 70px;

  display: flex;
    flex-direction: column;
  }
  
  .footer-socseti__title {
    @include section-title ();
    
    color: var(--title-text-color);
    margin-top: 12px;
    margin-bottom: 20px;


        margin-right: auto;
    margin-left: auto;

  }