.footer-left {
    flex-shrink: 0;
    display: block;
    

        margin-right: auto;
    margin-left: auto;
    text-align: center;
 
    margin-bottom: 60px;

    @media screen and (min-width: 768px) {
    
      margin-right: 165px;
      }

   @media screen and (min-width: 1200px) {
    
    margin-right: 0;
    margin-left: 0;
    text-align: left;
  }
  }

  .footer-left__logo {
    color: var(--title-text-color);
      }

      // .footer-left__adress {
      //   width: 231px;
      // }
      
      .footer-left__adress a {
        display: inline-block;
      }

   

  
  .footer-left__link {
    color: var(--title-text-color);
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
     text-decoration: none;
  
    margin-top: 20px;
  
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:focus,
    &:hover
  //   
  //   .link:hover,
  //   .link:focus
     {
      color: var(--accent-color);
    }


  }
  
  .footer-left__link--color {
    color: var(--link-footer-color);
    // margin-top: 9px;
     margin-top: 8px;


      @media screen and (min-width: 1200px) {
    
 margin-top: 9px;    
  }
  }
