footer {
    background-color: var(--background-footer-color);
    padding-top: 60px;
    padding-bottom: 60px;

        margin-left: auto;
    margin-right: auto;
    

  }

  .footer-container {
   
 
    @media screen and (min-width: 768px) {
    
      display: flex;
      flex-wrap: wrap;
    justify-content: center;
  }

  }