.hero {
  margin-left: auto;
  margin-right: auto;

  background-color: var(--background-footer-color);
  color: var(--title-text-color);
  text-align: center;
  align-items: center;

  /* outline: 1px solid tomato; */
  // display: flex;

  // max-width: 1600px;
  // height: 600px;

  max-width: 480px;
  min-height: 400px;

  justify-content: center;

  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../image8/header.jpg);

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../image8/header2x.jpg);
  }

  @media screen and (min-width: 768px) {
    min-width: 768px;

    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../image8/Headertabletimg.jpg);

    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url(../image8/Headertabletimg2x.jpg);
    }
    // url(../images/heroi.jpg);
  }

  @media screen and (min-width: 1200px) {
    max-width: 1600px;

    // height: 600px;
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/heroi.jpg);

    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url(../image8/HeaderDesktopimg2x.jpg);
    }
    // url(../images/heroi.jpg);
  }
}

.hero__title {
  font-weight: 900;
  // font-size: 44px;
  // line-height: 1.36;

  font-size: 26px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.hero__button {
  margin-right: auto;
  margin-left: auto;
  padding: 10px 32px;
  &:hover,
  &:focus {
    background-color: var(--accent-color);
  }
}

.hero__container {
  padding: 118px 60px;
  @media screen and (min-width: 1200px) {
    padding: 200px 0;
  }
}
