.modal {
  // position: absolute;
  position: fixed;
  // top: 50%;
  top: 5%;
  left: 50%;
  // transform: rotate(360deg) translate(-50%, -50%) scale(1);
  transform: rotate(360deg) translate(-50%) scale(1);

  // width: 528px;
  width: 95vw;

  min-height: 581px;
  background-color: var(--title-text-color);
  border-radius: 4px;
  transition: transform 300ms;

  .beckdrop.is-hidden & {
    transform: rotate(0deg) translate(-50%, -50%) scale(0.1);
    opacity: 1;
  }

  @media screen and (min-width: 480px) {
    // width: 480px;
    width: 450px;

    @media screen and (min-width: 1200px) {
      width: 528px;
    }
  }
}

.modal__close {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;

  cursor: pointer;

  display: flex;
  align-items: center;

  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);

  background-color: white;

  &:hover,
  &:focus {
    fill: #2196f3;
  }
}

.modal__title {
  padding-top: 40px;
  padding-bottom: 12px;

  padding-right: 40px;
  padding-left: 40px;

  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.modal__form {
  margin-bottom: 20px;

  margin-left: 40px;
  margin-right: 40px;
}

.modal__label {
  display: block;
  margin-bottom: 4px;

  font-size: 12px;
  line-height: 1.66;

  letter-spacing: 0.01em;

  color: #757575;
}

.modal__input {
  width: 100%;
  height: 40px;

  padding: 0;
  padding-left: 42px;
  outline: transparent;
}

.modal__input,
.modal__text {
  box-sizing: border-box;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 12px;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__field {
  display: block;
  margin-bottom: 10px;
}

.modal__wrap {
  position: relative;
}

.modal__input:focus + .modal__icon {
  fill: var(--accent-color);
}

.modal__text {
  width: 100%;
  height: 120px;
  padding: 12px 16px;

  resize: none;

  outline: transparent;
}

.modal__input:focus,
.modal__text:focus {
  border: 1px solid #2196f3;
}

/* -------------modal-checkbox--------------------- */

.modal__checkbox {
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal__checkbox-label {
  font-size: 12px;
  line-height: 1.71;

  letter-spacing: 0.03em;
  color: #757575;
  display: flex;

  align-items: center;
  justify-content: center;

  @media screen and (max-width: 480px) {
    display: inline-block;
  }
}

.modal__checkbox-label span {
  // margin-left: 0;
  display: flex;

  fill: #fff;
  width: 16px;
  height: 15px;
  padding: 4px 2px 3px 3px;
  box-sizing: border-box;
  border: 2px solid #212121;
  border-radius: 2px;

  margin-right: 7px;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__checkbox-input:focus + .modal__checkbox-label span {
  border: 2px solid var(--base-color);
}

.modal__checkbox-input:checked + .modal__checkbox-label span {
  background-color: var(--accent-color);
  border: none;

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

/* -----------------------------modal__button-------------- */

.modal__button {
  color: #ffffff;
  display: flex;

  font-weight: 700;
  /* font-size: 16px; */
  line-height: 1.88;

  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;

  padding-top: 10px;
  padding-right: 55px;
  padding-bottom: 10px;
  padding-left: 56px;

  margin: auto;
  margin-bottom: 40px;

  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  border: transparent;
  border-radius: 4px;
}

.modal__button:hover,
.modal__button:focus {
  background: #188ce8;
  cursor: pointer;
}

.modal__checkbox-link {
  color: var(--accent-color);
}
.modal__checkbox-link:hover {
  text-decoration: none;
}
