// .projects {
//   &__container {
//      max-width: 480px;
//   }
// }

.projects__list {
  // display: flex;
  // flex-wrap: wrap;

  margin-top: -30px;
  margin-left: -30px;

  // padding-top: 50px;
  padding-top: 40px;

  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;

    margin-top: -30px;

    padding-top: 50px;
  }
}

.projects__item {
  // flex-basis: calc(100% / 3 - 30px);
  // margin-left: 30px;
  // margin-top: 30px;

  @media screen and (min-width: 768px) {
    flex-basis: calc(100% / 2 - 30px);
    margin-left: 30px;
    margin-top: 30px;
  }

  @media screen and (min-width: 1200px) {
    flex-basis: calc(100% / 3 - 30px);
  }
}

.projects__content {
  padding: 20px 24px;
  border-right: 1px solid var(--boreder-color-ee);
  border-bottom: 1px solid var(--boreder-color-ee);
  border-left: 1px solid var(--boreder-color-ee);
}

.projects__title {
  margin-bottom: 4px;
  color: var(--primary-text-color);
}

.projects__link {
  display: block;
  text-decoration: none;

  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
      0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}

.projects__wrap {
  position: relative;
  overflow: hidden;
}

.projects__info {
  position: absolute;

  font-size: 18px;
  line-height: 1.56;

  // padding: 63px 24px;
  padding-left: 24px;
  padding-right: 24px;
  display: flex;
  align-items: center;

  letter-spacing: 0.03em;
  color: #ffffff;

  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  background: rgba(33, 150, 243, 0.9);

  .projects__item:hover &,
  .projects__item:focus & {
    transform: translateY(0);
  }
  @media screen and (max-width: 370px) {
    font-size: 5vw;
  }
}

.projects__title {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.projects__description {
  line-height: 1.88;
  color: var(--base-color);
}
