.subscribe {
  // width: 450px;
  // margin-left: 93px;
  @media screen and (min-width: 768px) {
    // margin-left: 166px;
  }

  @media screen and (min-width: 1200px) {
    // width: 450px;
    margin-left: 93px;
  }
}

.subscribe__wrap {
  // display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  display: inline-grid;

  // width: 450px;

  @media screen and (min-width: 1200px) {
    display: flex;
    text-align: center;
    width: 570px;
  }
}

.subscribe__email {
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  // width: 358px;
  width: 100%;

  padding: 15px 0 15px 16px;

  // margin-right: 12px;
  margin-bottom: 20px;

  outline: transparent;

  color: rgba(255, 255, 255, 0.6);

  @media screen and (min-width: 768px) {
    width: 450px;
  }

  @media screen and (min-width: 1200px) {
    width: 358px;
    margin-right: 12px;
    margin-bottom: 0;
  }
}

.subscribe__email:focus {
  border: 1px solid var(--title-text-color);
}

.subscribe__button {
  padding: 10px 29px;
  margin-right: auto;
  margin-left: auto;
}

.subscribe__button:hover,
.subscribe__button:focus {
  background-color: var(--accent-color);
}

.subscribe__title {
  @include section-title();
  color: var(--title-text-color);
  margin-top: 12px;
  margin-bottom: 20px;

  text-align: center;

  @media screen and (min-width: 1200px) {
    text-align: left;
  }
}

.subscribe__icon {
  margin-left: 10px;
}
