.subscribe {
    width: 100%;
    // margin-left: 93px;
  }
  
  // .subscribe__wrap {
  //   display: flex;
  // }
  
  .subscribe__email {
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    // width: 358px;
        width: 100%;


    padding: 15px 0 15px 16px;

    // margin-right: 12px;
    margin-bottom: 20px;

  
    outline: transparent;
  
    color: rgba(255, 255, 255, 0.6);
  }
  
  .subscribe__email:focus {
    border: 1px solid var(--title-text-color);
  }
  
  .subscribe__button {
     padding: 10px 29px;
    margin-right: auto;
    margin-left: auto;
  display: block;
  }
  
  .subscribe__button:hover,
  .subscribe__button:focus {
    background-color: var(--accent-color);
  }
  
  .subscribe__title{

    @include section-title ();
    color: var(--title-text-color);
      margin-top: 12px;
      margin-bottom: 20px;


          text-align: center;
  }
 
  
  .subscribe__icon {
    margin-left: 10px;
  }