%section {
    // padding-top: 94px;
    // padding-bottom: 94px;

    padding-top: 60px;
    padding-bottom: 60px;
    /* outline: 2px solid seagreen; */

    @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
  }
  
 
  