
// $primary-text-color: #212121;
// $logo-color-black: #000000;
// $base-color: #757575;
// $title-text-color: #ffffff;
// $accent-color: #2196f3;
// $accent-button-color: #188ce8;
// $accent-buttons-color: #f5f4fa;
// $background-footer-color: #2f303a;
// $link-footer-color: rgba(255, 255, 255, 0.6);
// $boreder-color-ee: #eeeeee;
// $boreder-color-ec: #ececec;


:root {
    --primary-text-color: #212121;
    --logo-color-black: #000000;
    --base-color: #757575;
    --title-text-color: #ffffff;
    --accent-color: #2196f3;
    --accent-button-color: #188ce8;
    --accent-buttons-color: #f5f4fa;
    --background-footer-color: #2f303a;
    --link-footer-color: rgba(255, 255, 255, 0.6);
    --boreder-color-ee: #eeeeee;
    --boreder-color-ec: #ececec;
  }


  $fontLogo: Raleway, sans-serif;
  $fontPrimary: Roboto, sans-serif;

  


